<nav>
    <div class="site-title">
        <a href="/">
            <h1>Club Members</h1>
        </a>
        <p>Sports Club Members</p>
    </div>
    <ul>
        <li><a href="/">Accounts</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/accounts/create">New Account</a></li>
    </ul>
</nav>